:root {
  /* Main colors */
  --color-black: #000;
  --color-white: #fff;

  /* Accent colors */
  --color-error: red;
  --color-success: green;
  --color-warning: yellow;
  --color-alert: grey;

  /* UI colors */
  --color-primary: plum;
  --color-secondary: wheat;
}
